$backgroundColor: #F4F5F9;
$textColor: #42567A;
$firstHighlightColor: #3877EE;
$secondHighlightColor: #EF5DA8;
$borderColor: rgba(66, 86, 122, 0.5);
$borderColor10: rgba(66, 86, 122, 0.1);
$lightBorder: 1px solid $borderColor10;